/*-- Imported .less --*/
@font-face {
  font-family: 'label';
  src: url('../FONTS/GothamRnd-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bold';
  src: url('../FONTS/GothamRnd-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sub-title';
  src: url('../FONTS/gothamrnd-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'medium';
  src: url('../FONTS/GothamRnd-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'title';
  src: url('../FONTS/linotype_-_universltpro-ultracondensed-webfont.svg#univers_lt_pro59ultraCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'clock';
  src: url('../FONTS/DS-DIGI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*-- General Styles --*/
.reflect {
  -webkit-box-reflect: below -54px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(12%, transparent), to(rgba(255, 255, 255, 0.54)));
  position: absolute;
}
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  overflow: hidden;
  width: 1024px;
  height: 768px;
  margin: 0px !important;
  background: #8a5c00;
  background: -moz-radial-gradient(center, ellipse cover, #8a5c00 0%, #3d2c1a 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #8a5c00 0%, #3d2c1a 100%);
  background: -o-radial-gradient(center, ellipse cover, #8a5c00 0%, #3d2c1a 100%);
  background: -ms-radial-gradient(center, ellipse cover, #8a5c00 0%, #3d2c1a 100%);
  background: radial-gradient(ellipse at center, #8a5c00 0%, #3d2c1a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a5c00', endColorstr='#3d2c1a', GradientType=1);
}
h1 {
  margin: 25px;
  font-family: "title";
  font-size: 88px;
  color: #bda36c;
  text-shadow: 2px 2px 0px #222222;
  -webkit-box-reflect: below -54px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(12%, transparent), to(rgba(255, 255, 255, 0.54)));
  position: absolute;
}
h2 {
  position: absolute;
  margin: 0px;
  font-family: "sub-title";
  font-size: 36px;
  color: #ffffff;
  text-shadow: 4px 4px 3px #222222;
  margin-top: -15px;
}
h2.yours {
  left: 45px;
}
h2.theirs {
  left: 395px;
}
/*-- Header Styles --*/
#headerWrap {
  height: 150px;
  width: 100%;
}
.timerWrap {
  position: absolute;
  width: 185px;
  height: 110px;
  left: 490px;
  top: 20px;
  text-align: center;
  font-size: 20px;
  font-family: "sub-title";
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 4px 4px 0px #222222;
  color: #ffffff;
}
#time {
  width: 150px;
  height: 75px;
  margin-left: 15px;
  margin-top: 4px;
  font-size: 72px;
  background-color: #000000;
  text-shadow: 0px 0px 10px #00FF00;
  font-family: "clock";
}
.moneyWrap {
  position: absolute;
  width: 270px;
  height: 135px;
  left: 705px;
  top: 20px;
  text-align: center;
  font-size: 20px;
  font-family: "sub-title";
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 4px 4px 0px #222222;
  color: #ffffff;
}
.dollar {
  margin-left: 5px;
  width: 260px;
  height: 105px;
  text-align: center;
  font-size: 60px;
  font-family: "title";
  color: #95ba6a;
  background: #465726;
  background: -moz-radial-gradient(center, ellipse cover, #465726 0%, #1d2404 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #465726 0%, #1d2404 100%);
  background: -o-radial-gradient(center, ellipse cover, #465726 0%, #1d2404 100%);
  background: -ms-radial-gradient(center, ellipse cover, #465726 0%, #1d2404 100%);
  background: radial-gradient(ellipse at center, #465726 0%, #1d2404 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#465726', endColorstr='#1d2404', GradientType=1);
}
.moneyCounter {
  width: 95px;
  height: 95px;
  border-radius: 46px;
  line-height: 115px;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 80px;
  position: absolute;
  text-align: center;
  font-size: 60px;
  font-family: "title";
  color: #95ba6a;
  background: #1b3808;
  background: -moz-radial-gradient(center, ellipse cover, #1b3808 0%, #111c0a 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #1b3808 0%, #111c0a 100%);
  background: -o-radial-gradient(center, ellipse cover, #1b3808 0%, #111c0a 100%);
  background: -ms-radial-gradient(center, ellipse cover, #1b3808 0%, #111c0a 100%);
  background: radial-gradient(ellipse at center, #1b3808 0%, #111c0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b3808', endColorstr='#111c0a', GradientType=1);
}
/*-- Content Styles --*/
#contentWrap {
  height: 448px;
  width: 100%;
}
.flex-offers {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 398px;
  width: 580px;
  left: 395px;
  top: 190px;
}
.your-offer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 398px;
  width: 340px;
  left: 40px;
  top: 190px;
}
.seller {
  border: 2px grey solid;
  box-shadow: 1px 1px 5px black;
  padding: 10px;
  display: inline-block;
  border-radius: 12px;
  text-shadow: 4px 4px 3px #222222;
  margin: 10px;
  width: 240px;
  background: rgba(70, 87, 38, 0.88);
  background: -moz-radial-gradient(center, ellipse cover, rgba(70, 186, 38, 0.88) 0%, rgba(29, 36, 4, 0.88) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(70, 186, 38, 0.88) 0%, rgba(29, 36, 4, 0.88) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(70, 186, 38, 0.88) 0%, rgba(29, 36, 4, 0.88) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(70, 186, 38, 0.88) 0%, rgba(29, 36, 4, 0.88) 100%);
  background: radial-gradient(ellipse at center, rgba(70, 186, 38, 0.88) 0%, rgba(29, 36, 4, 0.88) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='##95ba6a', endColorstr='#1d2404', GradientType=1);
}
.seller h3 {
  font-family: "title";
  font-size: 2em;
  text-align: right;
  color: #ffffff;
  margin: 0px;
  float: right;
}
.seller h4 {
  font-family: "title";
  font-size: 3.25em;
  text-align: left;
  margin: 0px;
  margin-left: 105px;
  margin-top: 45px;
  color: #ffffff;
}
.seller .svg-logo {
  float: left;
  width: 30%;
  height: 68%;
  margin: 5px;
}
.seller #circle {
  stroke: #7ac441;
  stroke-width: 7px;
  fill: transparent;
  fill-opacity: 0.85;
  overflow: visible;
  float: right;
  width: 50px;
  height: 50px;
  margin-top: -57px;
  margin-right: 13px;
}
.seller #square {
  stroke: #7ac441;
  stroke-width: 7px;
  fill: transparent;
  fill-opacity: 0.85;
  overflow: visible;
  float: right;
  width: 50px;
  height: 50px;
  margin-top: -57px;
  margin-right: 13px;
}
.seller #triangle {
  stroke: #7ac441;
  stroke-width: 7px;
  fill: transparent;
  fill-opacity: 0.85;
  overflow: visible;
  float: right;
  width: 50px;
  height: 50px;
  margin-top: -57px;
  margin-right: 13px;
}
.seller #pentagon {
  stroke: #7ac441;
  stroke-width: 7px;
  fill: transparent;
  fill-opacity: 0.85;
  overflow: visible;
  float: right;
  width: 50px;
  height: 50px;
  margin-top: -57px;
  margin-right: 13px;
}
.your-offer-card {
  border: 2px grey solid;
  box-shadow: 1px 1px 5px black;
  padding: 10px;
  display: inline-block;
  border-radius: 12px;
  text-shadow: 4px 4px 3px #222222;
  margin: 19px;
  width: 82%;
  height: 85%;
  background: #8a5c00;
  background: -moz-radial-gradient(center, ellipse cover, #8a5c00 0%, #3d2c1a 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #8a5c00 0%, #3d2c1a 100%);
  background: -o-radial-gradient(center, ellipse cover, #8a5c00 0%, #3d2c1a 100%);
  background: -ms-radial-gradient(center, ellipse cover, #8a5c00 0%, #3d2c1a 100%);
  background: radial-gradient(ellipse at center, #8a5c00 0%, #3d2c1a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a5c00', endColorstr='#3d2c1a', GradientType=1);
}
.your-offer-card h3 {
  font-family: "title";
  font-size: 2.8em;
  text-align: right;
  color: #ffffff;
  margin: 0px;
  margin-left: 20px;
  float: left;
}
.your-offer-card h4 {
  font-family: "title";
  font-size: 6.25em;
  margin: 0px;
  margin-top: 45px;
  color: #ffffff;
}
.your-offer-card h5 {
  font-family: "sub-title";
  font-size: 1.5em;
  text-align: center;
  margin: 0px;
  margin-top: 5px;
  color: #ffffff;
  clear: both;
}
.your-offer-card .svg-logo {
  float: left;
  width: 30%;
  height: 50%;
  margin: 5px;
  margin-right: 20px;
}
.your-offer-card .up-arrow {
  width: 0px;
  height: 0px;
  top: 175px;
  left: 265px;
  border-style: solid;
  border-width: 0 22.5px 45px 22.5px;
  border-color: transparent transparent #070047 transparent;
  position: absolute;
}
.your-offer-card .down-arrow {
  width: 0;
  height: 0;
  top: 230px;
  left: 265px;
  border-style: solid;
  border-width: 45px 22.5px 0 22.5px;
  border-color: #070047 transparent transparent transparent;
  position: absolute;
}
.your-offer-card .up-arrow:active {
  border-color: transparent transparent #10069f transparent;
}
.your-offer-card .down-arrow:active {
  border-color: #10069f transparent transparent transparent;
}
.your-offer-card #circle {
  stroke: #f0c135;
  stroke-width: 7px;
  fill: #f0c135;
  fill-opacity: 0.85;
  overflow: visible;
  float: right;
  width: 55px;
  height: 55px;
  margin-top: -110px;
  margin-right: 3px;
}
.your-offer-card #square {
  stroke: #f0c135;
  stroke-width: 7px;
  fill: #f0c135;
  fill-opacity: 0.85;
  overflow: visible;
  float: right;
  width: 55px;
  height: 55px;
  margin-top: -110px;
  margin-right: 3px;
}
.your-offer-card #triangle {
  stroke: #f0c135;
  stroke-width: 7px;
  fill: #f0c135;
  fill-opacity: 0.85;
  overflow: visible;
  float: right;
  width: 55px;
  height: 55px;
  margin-top: -110px;
  margin-right: 3px;
}
.your-offer-card #pentagon {
  stroke: #f0c135;
  stroke-width: 7px;
  fill: #f0c135;
  fill-opacity: 0.85;
  overflow: visible;
  float: right;
  width: 55px;
  height: 55px;
  margin-top: -110px;
  margin-right: 3px;
}
.accept {
  clear: both;
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  font-family: "sub-title";
  font-size: 2em;
  line-height: 40px;
  border: 2px solid #A4DBE8;
  background: -webkit-linear-gradient(top, #070047 15%, #10069f 40%, #1e2989 50%, #10069f 60%, #070047 85%);
  box-shadow: 0px 0px 15px 0px #A4DBE8;
  color: #A4DBE8;
}
.accept:active {
  background: -webkit-linear-gradient(top, #002487 0%, #0758af 28%, #0758af 28%, #2c69cc 51%, #0758af 79%, #002487 99%);
}
/*-- Footer Styles --*/
#footerWrap {
  height: 170px;
  width: 100%;
}
.tips {
  position: absolute;
  width: 595px;
  height: 145px;
  left: 380px;
  top: 600px;
  text-align: center;
  font-size: 20px;
  font-family: "sub-title";
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 4px 4px 0px #222222;
  color: #ffffff;
}
.valueWrap {
  position: absolute;
  width: 325px;
  height: 145px;
  left: 40px;
  top: 600px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  font-family: "sub-title";
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 4px 4px 0px #222222;
  color: #ffffff;
}
.valueWrap .svg-logo {
  position: absolute;
  height: 125%;
  left: -35px;
  top: -10px;
}
.valueWrap h3 {
  position: absolute;
  left: 145px;
  top: 10px;
}
.valueWrap h4 {
  position: absolute;
  font-family: "title";
  font-size: 4em;
  margin: 0px;
  margin-top: 33px;
  left: 225px;
  color: #bda36c;
}
