/*-- Imported .less --*/
@import "colors.less";
@import "fonts.less";





/*-- General Styles --*/
.reflect {
	-webkit-box-reflect: below -54px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(12%, transparent), to(rgba(255, 255, 255, 0.54)));
	position: absolute;
}

* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	overflow:hidden;
	width: 1024px;
	height: 768px;
	margin: 0px !important;
	
	
}

.seller-client-wrap {
	& h1 {
		margin:25px;

		font-family:"title";
		font-size:88px;
		color:@tan;
		text-shadow: 2px 2px 0px rgba(34, 34, 34, 1);
		.reflect;
	}
}

.buyer-client-wrap {
	& h1 {
		margin:25px;

		font-family:"title";
		font-size:88px;
		color:@lightblue;
		text-shadow: 2px 2px 0px rgba(34, 34, 34, 1);
		.reflect;
	}
}



h2 {
	position:absolute;
	margin:0px;
	
	font-family:"sub-title";
	font-size:36px;
	color: @white;
	text-shadow: 4px 4px 3px rgba(34, 34, 34, 1);
	
	margin-top:-15px;
	
	
	&.yours {
		left:45px;
	}
	
	&.theirs {
		left:395px;
	}
}





/*-- Header Styles --*/
#headerWrap {
	height:150px;
	width:100%;
}

.timerWrap {
	position:absolute;
	width: 185px;
	height: 110px;
	left:490px;
	top:20px;
	
	text-align:center;
	font-size:20px;
	font-family:"sub-title";
	
	background-color:rgba(0,0,0,0.5);
	text-shadow: 4px 4px 0px rgba(34, 34, 34, 1);
	color:@white;
}

.buyer-client-wrap{
	& #time {
		width: 150px;
		height: 75px;
		margin-left:15px;
		margin-top:4px;
		font-size:72px;
		background-color:rgba(0,0,0,1);
		text-shadow: 0px 0px 10px @orange;
		font-family:"clock";
	}
}

.seller-client-wrap {
	& #time {
		width: 150px;
		height: 75px;
		margin-left:15px;
		margin-top:4px;
		font-size:72px;
		background-color:rgba(0,0,0,1);
		text-shadow: 0px 0px 10px #00FF00;
		font-family:"clock";
	}
}



.moneyWrap {
	position:absolute;
	width: 270px;
	height: 135px;
	left:705px;
	top:20px;
	
	text-align:center;
	font-size:20px;
	font-family:"sub-title";
	
	background-color:rgba(0,0,0,0.5);
	text-shadow: 4px 4px 0px rgba(34, 34, 34, 1);
	color:@white;
}

.dollar {
	margin-left: 5px;
	width: 260px;
	height: 105px;
	
	text-align:center;
	font-size:60px;
	font-family:"title";
	color:@lightgreen;
	
	background: rgba(70,87,38,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(70,87,38,1) 0%, rgba(29,36,4,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(70,87,38,1) 0%, rgba(29,36,4,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(70,87,38,1) 0%, rgba(29,36,4,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(70,87,38,1) 0%, rgba(29,36,4,1) 100%);
	background: radial-gradient(ellipse at center, rgba(70,87,38,1) 0%, rgba(29,36,4,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#465726', endColorstr='#1d2404', GradientType=1 );
}

.moneyCounter {
	width:95px;
	height:95px;
	border-radius: 46px;
	line-height:115px;
	text-align:center;
	overflow:hidden;
	
	margin-top: -95px;
	margin-left: 80px;
	position:absolute;
		
	text-align:center;
	font-size:60px;
	font-family:"title";
	color:@lightgreen;
	
	background: rgba(27,56,8,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(27,56,8,1) 0%, rgba(17,28,10,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(27,56,8,1) 0%, rgba(17,28,10,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(27,56,8,1) 0%, rgba(17,28,10,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(27,56,8,1) 0%, rgba(17,28,10,1) 100%);
	background: radial-gradient(ellipse at center, rgba(27,56,8,1) 0%, rgba(17,28,10,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b3808', endColorstr='#111c0a', GradientType=1 );
}





/*-- Content Styles --*/
#contentWrap {
	height:448px;
	width:100%;
}

.buyer-client-wrap {
	width:1024px;
	height:768px;
	
	background: rgba(70,87,38,0.88);
	background: -moz-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
	background: radial-gradient(ellipse at center, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##95ba6a', endColorstr='#1d2404', GradientType=1 );
	
	& .flex-offers {
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-direction: normal;
	    -moz-box-direction: normal;
	    -webkit-box-orient: horizontal;
	    -moz-box-orient: horizontal;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -webkit-box-pack: center;
	    -moz-box-pack: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-align-content: stretch;
	    -ms-flex-line-pack: stretch;
	    align-content: stretch;
	    -webkit-box-align: center;
	    -moz-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;

		background-color:rgba(0,0,0,0.5);

		position:absolute;
		height:398px;
		width:580px;
		left:395px;
		top:190px;
	}

	& .your-offer {
		background-color:rgba(0,0,0,0.5);

		position:absolute;
		height:398px;
		width:340px;
		left:40px;
		top:190px;
	}

	& .seller{
		border: 2px grey solid;
		box-shadow: 1px 1px 5px black;
		padding: 10px;
		display: inline-block;
		border-radius: 12px;
		text-shadow: 4px 4px 3px rgba(34, 34, 34, 1);
		margin:10px;
		width:240px;

		background: rgba(138,92,0,1);
		background: -moz-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		background: -webkit-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		background: -o-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		background: -ms-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		background: radial-gradient(ellipse at center, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a5c00', endColorstr='#3d2c1a', GradientType=1 );

		& h3 {
			font-family:"title";
			font-size:2em;
			text-align:right;
			color:@white;
			margin:0px;
			float:right;
		}

		& h4 {
			font-family:"title";
			font-size:3.25em;
			text-align:left;
			margin:0px;
			margin-left:105px;
			margin-top:45px;
			color:@white;

		}

		& .svg-logo {
			float:left;
			width:30%;
			height:68%;
			margin:5px;
		}

		& #circle{
			stroke: @orange;
			stroke-width: 7px;
			fill: @orange;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:50px;
			height:50px;

			margin-top:-57px;
			margin-right:13px;
		}

		& #square{
			stroke: @orange;
			stroke-width: 7px;
			fill: @orange;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:50px;
			height:50px;

			margin-top:-57px;
			margin-right:13px;

		}

		& #triangle{
			stroke: @orange;
			stroke-width: 7px;
			fill: @orange;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:50px;
			height:50px;

			margin-top:-57px;
			margin-right:13px;

		}

		& #pentagon{
			stroke: @orange;
			stroke-width: 7px;
			fill: @orange;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:50px;
			height:50px;

			margin-top:-57px;
			margin-right:13px;

		}
	}

	& .your-offer-card{
		border: 2px grey solid;
		box-shadow: 1px 1px 5px black;
		padding: 10px;
		display: inline-block;
		border-radius: 12px;
		text-shadow: 4px 4px 3px rgba(34, 34, 34, 1);
		margin:19px;

		width:82%;
		height:85%;
		
		background: rgba(70,87,38,0.88);
		background: -moz-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		background: -webkit-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		background: -o-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		background: -ms-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		background: radial-gradient(ellipse at center, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##95ba6a', endColorstr='#1d2404', GradientType=1 );

		

		& h3 {
			font-family:"title";
			font-size:2.8em;
			text-align:right;
			color:@white;
			margin:0px;
			margin-left:20px;
			float:left;
		}

		& h4 {
			font-family:"title";
			font-size:6.25em;
			margin:0px;
			margin-top:45px;
			color:@white;
		}

		& h5 {
			font-family:"sub-title";
			font-size:1.5em;
			text-align:center;
			margin:0px;
			margin-top:5px;
			color:@white;
			clear:both;
		}

		& .svg-logo {
			float:left;
			width:30%;
			height:50%;
			margin:5px;
			margin-right:20px;
		}

		& .up-arrow {
			width: 0px;
			height: 0px;
			top: 175px;
			left: 265px;
			border-style: solid;
			border-width: 0 22.5px 45px 22.5px;
			border-color: transparent transparent #070047 transparent;
			position:absolute;
		}

		& .down-arrow {
			width: 0;
			height: 0;
			top: 230px;
			left: 265px;
			border-style: solid;
			border-width: 45px 22.5px 0 22.5px;
			border-color: #070047 transparent transparent transparent;
			position:absolute;
		}

		& .up-arrow:active {
			border-color: transparent transparent @blue transparent;
		}

		& .down-arrow:active {
			border-color: @blue transparent transparent transparent;
		}

		& #circle{
			stroke: @logo-green;
			stroke-width: 7px;
			fill: transparent;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:55px;
			height:55px;

			margin-top:-110px;
			margin-right:3px;
		}

		& #square{
			stroke: @logo-green;
			stroke-width: 7px;
			fill: transparent;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:55px;
			height:55px;

			margin-top:-110px;
			margin-right:3px;
		}

		& #triangle{
			stroke: @logo-green;
			stroke-width: 7px;
			fill: transparent;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:55px;
			height:55px;

			margin-top:-110px;
			margin-right:3px;
		}

		& #pentagon{
			stroke: @logo-green;
			stroke-width: 7px;
			fill: transparent;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:55px;
			height:55px;

			margin-top:-110px;
			margin-right:3px;
		}

	}
}

.seller-client-wrap {
	width:1024px;
	height:768px;
	
	background: rgba(138,92,0,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
	background: radial-gradient(ellipse at center, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a5c00', endColorstr='#3d2c1a', GradientType=1 );
	
	
	& .flex-offers {
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-direction: normal;
	    -moz-box-direction: normal;
	    -webkit-box-orient: horizontal;
	    -moz-box-orient: horizontal;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -webkit-box-pack: center;
	    -moz-box-pack: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-align-content: stretch;
	    -ms-flex-line-pack: stretch;
	    align-content: stretch;
	    -webkit-box-align: center;
	    -moz-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;

		background-color:rgba(0,0,0,0.5);

		position:absolute;
		height:398px;
		width:580px;
		left:395px;
		top:190px;
	}

	& .your-offer {
		background-color:rgba(0,0,0,0.5);

		position:absolute;
		height:398px;
		width:340px;
		left:40px;
		top:190px;
	}

	& .seller{
		border: 2px grey solid;
		box-shadow: 1px 1px 5px black;
		padding: 10px;
		display: inline-block;
		border-radius: 12px;
		text-shadow: 4px 4px 3px rgba(34, 34, 34, 1);
		margin:10px;
		width:240px;

		background: rgba(70,87,38,0.88);
		background: -moz-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		background: -webkit-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		background: -o-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		background: -ms-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		background: radial-gradient(ellipse at center, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##95ba6a', endColorstr='#1d2404', GradientType=1 );

		& h3 {
			font-family:"title";
			font-size:2em;
			text-align:right;
			color:@white;
			margin:0px;
			float:right;
		}

		& h4 {
			font-family:"title";
			font-size:3.25em;
			text-align:left;
			margin:0px;
			margin-left:105px;
			margin-top:45px;
			color:@white;

		}

		& .svg-logo {
			float:left;
			width:30%;
			height:68%;
			margin:5px;
		}

		& #circle{
			stroke: @logo-green;
			stroke-width: 7px;
			fill: transparent;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:50px;
			height:50px;

			margin-top:-57px;
			margin-right:13px;
		}

		& #square{
			stroke: @logo-green;
			stroke-width: 7px;
			fill: transparent;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:50px;
			height:50px;

			margin-top:-57px;
			margin-right:13px;

		}

		& #triangle{
			stroke: @logo-green;
			stroke-width: 7px;
			fill: transparent;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:50px;
			height:50px;

			margin-top:-57px;
			margin-right:13px;

		}

		& #pentagon{
			stroke: @logo-green;
			stroke-width: 7px;
			fill: transparent;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:50px;
			height:50px;

			margin-top:-57px;
			margin-right:13px;

		}
	}

	& .your-offer-card{
		border: 2px grey solid;
		box-shadow: 1px 1px 5px black;
		padding: 10px;
		display: inline-block;
		border-radius: 12px;
		text-shadow: 4px 4px 3px rgba(34, 34, 34, 1);
		margin:19px;

		width:82%;
		height:85%;

		background: rgba(138,92,0,1);
		background: -moz-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		background: -webkit-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		background: -o-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		background: -ms-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		background: radial-gradient(ellipse at center, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a5c00', endColorstr='#3d2c1a', GradientType=1 );

		& h3 {
			font-family:"title";
			font-size:2.8em;
			text-align:right;
			color:@white;
			margin:0px;
			margin-left:20px;
			float:left;
		}

		& h4 {
			font-family:"title";
			font-size:6.25em;
			margin:0px;
			margin-top:45px;
			color:@white;
		}

		& h5 {
			font-family:"sub-title";
			font-size:1.5em;
			text-align:center;
			margin:0px;
			margin-top:5px;
			color:@white;
			clear:both;
		}

		& .svg-logo {
			float:left;
			width:30%;
			height:50%;
			margin:5px;
			margin-right:20px;
		}

		& .up-arrow {
			width: 0px;
			height: 0px;
			top: 175px;
			left: 265px;
			border-style: solid;
			border-width: 0 22.5px 45px 22.5px;
			border-color: transparent transparent #070047 transparent;
			position:absolute;
		}

		& .down-arrow {
			width: 0;
			height: 0;
			top: 230px;
			left: 265px;
			border-style: solid;
			border-width: 45px 22.5px 0 22.5px;
			border-color: #070047 transparent transparent transparent;
			position:absolute;
		}

		& .up-arrow:active {
			border-color: transparent transparent @blue transparent;
		}

		& .down-arrow:active {
			border-color: @blue transparent transparent transparent;
		}

		& #circle{
			stroke: @orange;
			stroke-width: 7px;
			fill: @orange;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:55px;
			height:55px;

			margin-top:-110px;
			margin-right:3px;
		}

		& #square{
			stroke: @orange;
			stroke-width: 7px;
			fill: @orange;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:55px;
			height:55px;

			margin-top:-110px;
			margin-right:3px;
		}

		& #triangle{
			stroke: @orange;
			stroke-width: 7px;
			fill: @orange;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:55px;
			height:55px;

			margin-top:-110px;
			margin-right:3px;
		}

		& #pentagon{
			stroke: @orange;
			stroke-width: 7px;
			fill: @orange;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:55px;
			height:55px;

			margin-top:-110px;
			margin-right:3px;
		}

	}
}



.accept {
	clear:both;
	width:100%;
	height:40px;
	text-align:center;
	border-radius: 5px;
	
	font-family:"sub-title";
	font-size:2em;
	line-height:40px;
	
	border:2px solid #A4DBE8;
	background: -webkit-linear-gradient(top, #070047 15%,#10069f 40%,#1E2989 50%,#10069f 60%,#070047 85%);
	box-shadow: 0px 0px 15px 0px #A4DBE8;
	color:#A4DBE8;
}

.accept:active {
	background: -webkit-linear-gradient(top, #002487 0%,#0758af 28%,#0758af 28%,#2c69cc 51%,#0758af 79%,#002487 99%);
}




/*-- Footer Styles --*/
#footerWrap {
	height:170px;
	width:100%;
}

.tips {
	position: absolute;
	width: 595px;
	height: 145px;
	left: 380px;
	top: 600px;
	
	text-align:center;
	font-size:20px;
	font-family:"sub-title";
	
	background-color:rgba(0,0,0,0.5);
	text-shadow: 4px 4px 0px rgba(34, 34, 34, 1);
	color:@white;
}

.seller-client-wrap {
	.valueWrap {
		position: absolute;
		width: 325px;
		height: 145px;
		left: 40px;
		top: 600px;
		overflow:hidden;

		text-align:center;
		font-size:20px;
		font-family:"sub-title";

		background-color:rgba(0,0,0,0.5);
		text-shadow: 4px 4px 0px rgba(34, 34, 34, 1);
		color:@white;

		& .svg-logo {
			position: absolute;
			height: 125%;
			left: -35px;
			top: -10px;
		}

		& h3 {
			position:absolute;
			left: 145px;
			top: 10px;
		}

		& h4 {
			position: absolute;
			font-family: "title";
			font-size: 4em;
			margin: 0px;
			margin-top: 33px;
			left: 225px;
			color:@tan;
		}

		& .value {

		}
	}
}

.buyer-client-wrap {
	.valueWrap {
		position: absolute;
		width: 325px;
		height: 145px;
		left: 40px;
		top: 600px;
		overflow:hidden;

		text-align:center;
		font-size:20px;
		font-family:"sub-title";

		background-color:rgba(0,0,0,0.5);
		text-shadow: 4px 4px 0px rgba(34, 34, 34, 1);
		color:@white;

		& .svg-logo {
			position: absolute;
			height: 125%;
			left: -35px;
			top: -10px;
		}

		& h3 {
			position:absolute;
			left: 145px;
			top: 10px;
		}

		& h4 {
			position: absolute;
			font-family: "title";
			font-size: 4em;
			margin: 0px;
			margin-top: 33px;
			left: 225px;
			color:@lightgreen;
		}

		& .value {

		}
	}
}





