/*-- Imported .less --*/
@import "colors.less";
@import "fonts.less";





/*-- General Styles --*/
.reflect {
	-webkit-box-reflect: below -54px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(12%, transparent), to(rgba(255, 255, 255, 0.54)));
	position: absolute;
}

* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	overflow:hidden;
	width: 1024px;
	height: 768px;
	margin: 0px !important;
	
	
}

#stamp {
	width:auto;
	height:auto;
	top: 230px;
	left: 70px;
	padding:10px;
	
	position:absolute;
	-webkit-transform: rotate(-3deg);
	z-index:11;
	
	font-family:"medium";
	font-size:52px;
	color: red;
	opacity:0;
	
	-webkit-border-radius: 20px;
	border: 1px dashed red;
	
	-webkit-box-shadow: inset 0px 0px 5px 2px rgba(255, 00, 00, 1),
						0px 0px 9px 3px rgba(0, 0, 0, 1),
						inset 0px 0px 9px 7px rgba(0, 0, 0, 1);
	-webkit-text-stroke: 1px black;
	text-shadow:
	       3px 3px 0 #000,
	     -1px -1px 0 #000,  
	      1px -1px 0 #000,
	      -1px 1px 0 #000,
	       1px 1px 0 #000;
}

.buyer-client-wrap {
	& h1 {
		z-index:1;
		margin:25px;
		margin-left:50px;

		font-family:"title";
		font-size:88px;
		color:@tan;
		text-shadow: 2px 2px 0px rgba(34, 34, 34, 1);
		.reflect;
		
		&.idle {
			margin-left:270px;
		}
		
		&.wait {
			margin-left: 540px;
			margin-top: 45px;
			width:500px;
		}
		
		&.signin {
			margin: 0px;
			left: 625px;
			top: 0px;
			font-size: 100px;
			margin-top: 25px;
			-webkit-box-reflect:none;
			width: 350px;
			text-align: center;
			margin-left: -25px;
		}
		
		& .my-logoDiv {
			position:absolute;
			z-index:0;
			height:125px;
			width:125px;
			opacity:1;
			left: -30px;
			top: -10px;
		}

		& #circle{
			stroke: @orange;
			stroke-width: 10px;
			fill: @orange;
			overflow:visible;
			
			float:right;
			z-index:0;
			
			opacity:1;
			stroke-opacity:1;
			fill-opacity: 1;
		}

		& #square{
			stroke: @orange;
			stroke-width: 10px;
			fill: @orange;
			overflow:visible;
			
			float:right;
			z-index:0;
			
			opacity:1;
			stroke-opacity:1;
			fill-opacity: 1;
		}

		& #triangle{
			stroke: @orange;
			stroke-width: 10px;
			fill: @orange;
			overflow:visible;
			
			float:right;
			z-index:0;
			
			opacity:1;
			stroke-opacity:1;
			fill-opacity: 1;
		}

		& #pentagon{
			stroke: @orange;
			stroke-width: 10px;
			fill: @orange;
			overflow:visible;
			
			float:right;
			z-index:0;
			
			opacity:1;
			stroke-opacity:1;
			fill-opacity: 1;
		}
	}
}

.seller-client-wrap {
	& h1 {
		z-index:1;
		margin:25px;
		margin-left:50px;

		font-family:"title";
		font-size:88px;
		color:@lightblue;
		text-shadow: 2px 2px 0px rgba(34, 34, 34, 1);
		
		&.idle {
			margin-left:270px;
		}
		
		&.wait {
			margin-left: 540px;
			margin-top: 45px;
			width:500px;
		}
		
		&.signin {
			margin: 0px;
			left: 625px;
			top: 0px;
			font-size: 100px;
			margin-top: 25px;
			-webkit-box-reflect:none;
			width: 350px;
			text-align: center;
			margin-left: -25px;
		}
		
		.reflect;
		
		& .my-logoDiv {
			position:absolute;
			z-index:0;
			height:125px;
			width:125px;
			opacity:1;
			left: -30px;
			top: -10px;
		}

		& #circle{
			stroke: @logo-green;
			stroke-width: 10px;
			fill: transparent;
			overflow:visible;
			
			float:right;
			z-index:0;
			
			opacity:1;
			stroke-opacity:1;
			fill-opacity: 1;
		}

		& #square{
			stroke: @logo-green;
			stroke-width: 10px;
			fill: transparent;
			overflow:visible;
			
			float:right;
			z-index:0;
			
			opacity:1;
			stroke-opacity:1;
			fill-opacity: 1;
		}

		& #triangle{
			stroke: @logo-green;
			stroke-width: 10px;
			fill: transparent;
			overflow:visible;
			
			float:right;
			z-index:0;
			
			opacity:1;
			stroke-opacity:1;
			fill-opacity: 1;
		}

		& #pentagon{
			stroke: @logo-green;
			stroke-width: 10px;
			fill: transparent;
			overflow:visible;
			
			float:right;
			z-index:0;
			
			opacity:1;
			stroke-opacity:1;
			fill-opacity: 1;
		}
	}
}



h2 {
	position:absolute;
	margin:0px;
	
	font-family:"sub-title";
	font-size:36px;
	color: @white;
	text-shadow: 4px 4px 3px rgba(34, 34, 34, 1);
	
	margin-top:-15px;
	
	
	&.yours {
		left:45px;
	}
	
	&.theirs {
		left:395px;
	}
}





/*-- Header Styles --*/
#headerWrap {
	height:150px;
	width:100%;
}

.timerWrap {
	position:absolute;
	width: 185px;
	height: 110px;
	left:490px;
	top:20px;
	
	text-align:center;
	font-size:20px;
	font-family:"sub-title";
	
	background-color:rgba(0,0,0,0.5);
	text-shadow: 4px 4px 0px rgba(34, 34, 34, 1);
	color:@white;
	
	&.idle{
		width: 385px;
		height: 110px;
		left: 115px;
		top: 420px;
		text-align:right;
		font-size:36px;
		background-color:transparent;
	}
}

.seller-client-wrap{
		& #time {
		width: 150px;
		height: 75px; 
		margin-left:15px;
		margin-top:4px;
		font-size:72px;
		background-color:rgba(0,0,0,1);
		text-shadow: 0px 0px 10px #00FF00;
		font-family:"clock";
		&.idle {
			width: 190px;
			height: 110px;
			text-shadow: 0px 0px 10px #FFEEBE;
			float:right;
			position:absolute;
			left: 575px;
			top: 400px;
			color:#FFEEBE;
			padding:10px;
		}
	}
	
	& .idletime {
		width: 150px;
		height: 75px;
		margin-left:15px;
		margin-top:4px;
		font-size:72px;
		background-color:rgba(0,0,0,0.5);
		text-shadow: 0px 0px 10px #00FF00;
		font-family:"clock";
		
		&.idle {
			width: 190px;
			height: 110px;
			text-shadow: 0px 0px 10px #FFEEBE;
			float:right;
			position:absolute;
			left: 525px;
			top: 400px;
			color:#FFEEBE;
			padding:10px;
			font-size:110px;
		}
	}
	
}

.buyer-client-wrap {
	& #time {
		width: 150px;
		height: 75px; 
		margin-left:15px;
		margin-top:4px;
		font-size:72px;
		background-color:rgba(0,0,0,1);
		text-shadow: 0px 0px 10px #00FF00;
		font-family:"clock";
		&.idle {
			width: 190px;
			height: 110px;
			text-shadow: 0px 0px 10px #FFEEBE;
			float:right;
			position:absolute;
			left: 575px;
			top: 400px;
			color:#FFEEBE;
			padding:10px;
		}
	}
	
	& .idletime {
		width: 150px;
		height: 75px;
		margin-left:15px;
		margin-top:4px;
		font-size:72px;
		background-color:rgba(0,0,0,0.5);
		text-shadow: 0px 0px 10px #00FF00;
		font-family:"clock";
		
		&.idle {
			width: 190px;
			height: 110px;
			text-shadow: 0px 0px 10px #FFEEBE;
			float:right;
			position:absolute;
			left: 525px;
			top: 400px;
			color:#FFEEBE;
			padding:10px;
			font-size:110px;
		}
	}
	
}



.moneyWrap {
	position:absolute;
	width: 270px;
	height: 135px;
	left:705px;
	top:20px;
	
	text-align:center;
	font-size:20px;
	font-family:"sub-title";
	
	background-color:rgba(0,0,0,0.5);
	text-shadow: 4px 4px 0px rgba(34, 34, 34, 1);
	color:@white;
}

.dollar {
	margin-left: 5px;
	width: 260px;
	height: 105px;
	
	text-align:center;
	font-size:60px;
	font-family:"title";
	color:@lightgreen;
	
	background: radial-gradient(ellipse at center, #36561a 0%, rgba(29,36,4,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a4214', endColorstr='#1d2404', GradientType=1 );
	transition: all 0.13s ease-out;
	
	&.anim {
		border:2px solid @lightgreen;
		box-shadow: 0px 0px 15px 5px @lightgreen;
		transition: all 0.12s ease-out;
	}
	
}

.moneyCounter {
	width:95px;
	height:95px;
	border-radius: 46px;
	line-height:115px;
	text-align:center;
	overflow:hidden;
	
	margin-top: -95px;
	margin-left: 80px;
	position:absolute;
	
	text-align:center;
	font-size:60px;
	font-family:"title";
	color:@lightgreen;
	
	background: rgba(27,56,8,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(27,56,8,1) 0%, rgba(17,28,10,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(27,56,8,1) 0%, rgba(17,28,10,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(27,56,8,1) 0%, rgba(17,28,10,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(27,56,8,1) 0%, rgba(17,28,10,1) 100%);
	background: radial-gradient(ellipse at center, rgba(27,56,8,1) 0%, rgba(17,28,10,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b3808', endColorstr='#111c0a', GradientType=1 );
}





/*-- Content Styles --*/
#contentWrap {
	height:448px;
	width:100%;
}

.seller-client-wrap {
	width:1024px;
	height:768px;
	
	background-image:url('../IMAGES/SellerBG.jpg');
	
	& .flex-offers {
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-direction: normal;
	    -moz-box-direction: normal;
	    -webkit-box-orient: horizontal;
	    -moz-box-orient: horizontal;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -webkit-box-pack: center;
	    -moz-box-pack: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-align-content: stretch;
	    -ms-flex-line-pack: stretch;
	    align-content: stretch;
	    -webkit-box-align: center;
	    -moz-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;

		background-color:rgba(0,0,0,0.5);

		position:absolute;
		height:398px;
		width:580px;
		left:395px;
		top:190px;
	}

	& .your-offer {
		background-color:rgba(0,0,0,0.5);

		position:absolute;
		height:398px;
		width:340px;
		left:40px;
		top:190px;
	}

	& .seller{
		border: 2px grey solid;
		box-shadow: 1px 1px 5px black;
		padding: 10px;
		display: inline-block;
		border-radius: 12px;
		text-shadow: 4px 4px 3px rgba(34, 34, 34, 1);
		margin:10px;
		width:240px;

		background: rgba(138,92,0,1);
		background: -moz-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		background: -webkit-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		background: -o-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		background: -ms-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		background: radial-gradient(ellipse at center, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a5c00', endColorstr='#3d2c1a', GradientType=1 );

		& h3 {
			font-family:"title";
			font-size:2em;
			text-align:right;
			color:@white;
			margin:0px;
			float:right;
		}

		& h4 {
			font-family:"title";
			font-size:3.25em;
			text-align:left;
			margin:0px;
			margin-left:105px;
			margin-top:45px;
			color:@white;
			
			&.good-deal {
				color:@good-deal;
			}
			
			&.bad-deal {
				color:@bad-deal;
			}
			
			&.neutral-deal {
				color:@neutral-deal;
			}
		}

		& .svg-logo {
			float:left;
			width:40%;
			height:68%;
			margin:5px;
		}

		& #circle{
			stroke: @orange;
			stroke-width: 7px;
			fill: @orange;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:50px;
			height:50px;

			margin-top:-57px;
			margin-right:13px;
		}

		& #square{
			stroke: @orange;
			stroke-width: 7px;
			fill: @orange;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:50px;
			height:50px;

			margin-top:-57px;
			margin-right:13px;

		}

		& #triangle{
			stroke: @orange;
			stroke-width: 7px;
			fill: @orange;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:50px;
			height:50px;

			margin-top:-57px;
			margin-right:13px;

		}

		& #pentagon{
			stroke: @orange;
			stroke-width: 7px;
			fill: @orange;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:50px;
			height:50px;

			margin-top:-57px;
			margin-right:13px;

		}
	}

	& .your-offer-card{
		border: 2px grey solid;
		box-shadow: 1px 1px 5px black;
		padding: 10px;
		display: inline-block;
		border-radius: 12px;
		text-shadow: 4px 4px 3px rgba(34, 34, 34, 1);
		margin:19px;

		width:82%;
		height:85%;
		
		background: rgba(70,87,38,0.88);
		background: -moz-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		background: -webkit-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		background: -o-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		background: -ms-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		background: radial-gradient(ellipse at center, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##95ba6a', endColorstr='#1d2404', GradientType=1 );

		

		& h3 {
			font-family:"title";
			font-size:2.8em;
			text-align:right;
			color:@white;
			margin:0px;
			margin-left:20px;
			float:left;
		}

		& h4 {
			font-family:"title";
			font-size:5em;
			margin:0px;
			margin-top:45px;
			color:@white;
		}

		& h5 {
			font-family:"sub-title";
			font-size:1.5em;
			text-align:center;
			margin:0px;
			margin-top:5px;
			color:@white;
			clear:both;
		}

		& .svg-logo {
			float:left;
			width:40%;
			height:50%;
			margin:5px;
			margin-right:20px;
		}

		& .up-arrow {
			width: 0px;
			height: 0px;
			top: 175px;
			left: 265px;
			border-style: solid;
			border-width: 0 22.5px 45px 22.5px;
			border-color: transparent transparent #070047 transparent;
			position:absolute;
		}

		& .down-arrow {
			width: 0;
			height: 0;
			top: 230px;
			left: 265px;
			border-style: solid;
			border-width: 45px 22.5px 0 22.5px;
			border-color: #070047 transparent transparent transparent;
			position:absolute;
		}

		& .up-arrow:active {
			border-color: transparent transparent @blue transparent;
		}

		& .down-arrow:active {
			border-color: @blue transparent transparent transparent;
		}

		& #circle{
			stroke: @logo-green;
			stroke-width: 7px;
			fill: transparent;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:55px;
			height:55px;

			margin-top:-110px;
			margin-right:3px;
		}

		& #square{
			stroke: @logo-green;
			stroke-width: 7px;
			fill: transparent;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:55px;
			height:55px;

			margin-top:-110px;
			margin-right:3px;
		}

		& #triangle{
			stroke: @logo-green;
			stroke-width: 7px;
			fill: transparent;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:55px;
			height:55px;

			margin-top:-110px;
			margin-right:3px;
		}

		& #pentagon{
			stroke: @logo-green;
			stroke-width: 7px;
			fill: transparent;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:55px;
			height:55px;

			margin-top:-110px;
			margin-right:3px;
		}

	}
}

.buyer-client-wrap {
	width:1024px;
	height:768px;
	
	background-image:url('../IMAGES/BuyerBG.jpg');
	
	
	& .flex-offers {
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-direction: normal;
	    -moz-box-direction: normal;
	    -webkit-box-orient: horizontal;
	    -moz-box-orient: horizontal;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -webkit-box-pack: center;
	    -moz-box-pack: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-align-content: stretch;
	    -ms-flex-line-pack: stretch;
	    align-content: stretch;
	    -webkit-box-align: center;
	    -moz-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;

		background-color:rgba(0,0,0,0.5);

		position:absolute;
		height:398px;
		width:580px;
		left:395px;
		top:190px;
	}

	& .your-offer {
		background-color:rgba(0,0,0,0.5);
 
		position:absolute;
		height:398px;
		width:340px;
		left:40px;
		top:190px;
	}

	& .seller{
		border: 2px grey solid;
		box-shadow: 1px 1px 5px black;
		padding: 10px;
		display: inline-block;
		border-radius: 12px;
		text-shadow: 4px 4px 3px rgba(34, 34, 34, 1);
		margin:10px;
		width:240px;

		background: rgba(70,87,38,0.88);
		background: -moz-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		background: -webkit-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		background: -o-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		background: -ms-radial-gradient(center, ellipse cover, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		background: radial-gradient(ellipse at center, rgba(70,186,38,0.88) 0%, rgba(29,36,4,0.88) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##95ba6a', endColorstr='#1d2404', GradientType=1 );

		& h3 {
			font-family:"title";
			font-size:2em;
			text-align:right;
			color:@white;
			margin:0px;
			float:right;
		}

		& h4 {
			font-family:"title";
			font-size:3.25em;
			text-align:left;
			margin:0px;
			margin-left:105px;
			margin-top:45px;
			color:@white;
			
			&.good-deal {
				color:@good-deal;
			}
			
			&.bad-deal {
				color:@bad-deal;
			}
			
			&.neutral-deal {
				color:@neutral-deal;
			}
		}

		& .svg-logo {
			float:left;
			width:40%;
			height:68%;
			margin:5px;
		}

		& #circle{
			stroke: @logo-green;
			stroke-width: 7px;
			fill: transparent;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:50px;
			height:50px;

			margin-top:-57px;
			margin-right:13px;
		}

		& #square{
			stroke: @logo-green;
			stroke-width: 7px;
			fill: transparent;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:50px;
			height:50px;

			margin-top:-57px;
			margin-right:13px;

		}

		& #triangle{
			stroke: @logo-green;
			stroke-width: 7px;
			fill: transparent;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:50px;
			height:50px;

			margin-top:-57px;
			margin-right:13px;

		}

		& #pentagon{
			stroke: @logo-green;
			stroke-width: 7px;
			fill: transparent;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:50px;
			height:50px;

			margin-top:-57px;
			margin-right:13px;

		}
	}

	& .your-offer-card{
		border: 2px grey solid;
		box-shadow: 1px 1px 5px black;
		padding: 10px;
		display: inline-block;
		border-radius: 12px;
		text-shadow: 4px 4px 3px rgba(34, 34, 34, 1);
		margin:19px;

		width:82%;
		height:85%;

		background: rgba(138,92,0,1);
		background: -moz-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		background: -webkit-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		background: -o-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		background: -ms-radial-gradient(center, ellipse cover, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		background: radial-gradient(ellipse at center, rgba(138,92,0,1) 0%, rgba(61,44,26,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a5c00', endColorstr='#3d2c1a', GradientType=1 );

		& h3 {
			font-family:"title";
			font-size:2.8em;
			text-align:right;
			color:@white;
			margin:0px;
			margin-left:20px;
			float:left;
		}

		& h4 {
			font-family:"title";
			font-size:5em;
			margin:0px;
			margin-top:45px;
			color:@white;
		}

		& h5 {
			font-family:"sub-title";
			font-size:1.5em;
			text-align:center;
			margin:0px;
			margin-top:5px;
			color:@white;
			clear:both;
		}

		& .svg-logo {
			float:left;
			width:40%;
			height:50%;
			margin:5px;
			margin-right:20px;
		}

		& .up-arrow {
			width: 0px;
			height: 0px;
			top: 175px;
			left: 265px;
			border-style: solid;
			border-width: 0 22.5px 45px 22.5px;
			border-color: transparent transparent #070047 transparent;
			position:absolute;
		}

		& .down-arrow {
			width: 0;
			height: 0;
			top: 230px;
			left: 265px;
			border-style: solid;
			border-width: 45px 22.5px 0 22.5px;
			border-color: #070047 transparent transparent transparent;
			position:absolute;
		}

		& .up-arrow:active {
			border-color: transparent transparent @blue transparent;
		}

		& .down-arrow:active {
			border-color: @blue transparent transparent transparent;
		}

		& #circle{
			stroke: @orange;
			stroke-width: 7px;
			fill: @orange;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:55px;
			height:55px;

			margin-top:-110px;
			margin-right:3px;
		}

		& #square{
			stroke: @orange;
			stroke-width: 7px;
			fill: @orange;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:55px;
			height:55px;

			margin-top:-110px;
			margin-right:3px;
		}

		& #triangle{
			stroke: @orange;
			stroke-width: 7px;
			fill: @orange;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:55px;
			height:55px;

			margin-top:-110px;
			margin-right:3px;
		}

		& #pentagon{
			stroke: @orange;
			stroke-width: 7px;
			fill: @orange;
			fill-opacity: 0.85;
			overflow:visible;
			float:right;

			width:55px;
			height:55px;

			margin-top:-110px;
			margin-right:3px;
		}

	}
}



.accept {
	clear:both;
	width:100%;
	height:40px;
	text-align:center;
	border-radius: 5px;
	
	font-family:"sub-title";
	font-size:2em;
	line-height:40px;
	
	border:2px solid #A4DBE8;
	background: -webkit-linear-gradient(top, #070047 15%,#10069f 40%,#1E2989 50%,#10069f 60%,#070047 85%);
	box-shadow: 0px 0px 15px 0px #A4DBE8;
	color:#A4DBE8;
	transition: all 0.5s ease;
	
	&.greyed {
		border:2px solid black;
		background: -webkit-linear-gradient(top, #D9D9D9 15%,#B8B8B8 40%,#969696 50%,#B8B8B8 60%,#D9D9D9 85%);
		box-shadow: 0px 0px 15px 0px transparent;
		color:#4D4D4D;
		text-shadow: 0px 0px 0px transparent;
		transition: all 0.5s ease;
	}
	
	&.idle {
		width: 40%;
		margin-left: 30%;
		margin-top: 45%;
		height: 65px;
		font-size: 50px;
		padding-top: 15px;
	}
}


.accept:active {
	background: -webkit-linear-gradient(top, #002487 0%,#0758af 28%,#0758af 28%,#2c69cc 51%,#0758af 79%,#002487 99%);
}




/*-- Footer Styles --*/
#footerWrap {
	height:170px;
	width:100%;
}

.tipWrap {
	position: absolute;
	width: 595px;
	height: 145px;
	left: 380px;
	top: 600px;
	
	text-align:center;
	font-size:24px;
	font-family:"sub-title";
	
	background-color:rgba(0,0,0,0.5);
	text-shadow: 4px 4px 0px rgba(34, 34, 34, 1);
	color:@white;
	
	& #tip {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		padding:15px;
	}
	
	&.idle {
		position: absolute;
		width: 530px;
		height: 95px;
		left: 380px;
		top: 190px;
		padding: 15px;
		text-align: left;
		font-size: 28px;
		font-family: "sub-title";
		background-color: rgba(0,0,0,.5);
		text-shadow: 4px 4px 0 #222;
		color: #fff;
		line-height: 40px;
	}
	
	&.signin {
		background-color: rgba(0, 0, 0, 0);
		line-height: 55px;
		font-size: 34px;
		width: 100%;
		height: 80px;
		left: 0;
		top: 0;
	}
}

.signinBox {
	background-color: rgba(0, 0, 0, 0.5);
	text-shadow: 4px 4px 0 #222;
	font-family: "sub-title";
	font-size: 34px;
	line-height:170px;
	position:absolute;
	top:230px;
	height:180px;
	width: 63.4%;
	margin-left:34px;
	padding-left:300px;
	color:white;
}

#keyboardWrap {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	width: 90.5%;
	height: 38%;
	position: absolute;
	margin-left: 35px;
	top: 435px;
}

#keyboard {
	background-color: #000000;
	padding: 10px;
	margin: 10px;
	height: 87%;
	width: 96%;
	border-radius: 20px;
	border: 2px solid white;
}

.key {
	height:70px;
	width:70px;
	line-height:75px;
	text-align:center;
	border: 2px solid #5177d6;
	border-radius:10px;
	margin:5px;
	float:left;
	
	color: #dce5fa;
	font-family: "sub-title";
	font-size: 30px;
	
	background: linear-gradient(to bottom,  #080e17 0%,#080e17 55%,#10172b 100%);
	transition: all 0.025s ease-out;
}

.key:active {
	background: linear-gradient(to bottom,  #10172b 0%,#080e17 25%,#080e17 100%);
	-webkit-box-shadow: inset 1px 1px 20px 1px rgba(220, 229, 250, 0.75);
	transition: all 0.025s ease-in;
}

.buyer-client-wrap {
	.valueWrap {
		position: absolute;
		width: 325px;
		height: 145px;
		left: 40px;
		top: 600px;
		overflow:hidden;

		text-align:center;
		font-size:20px;
		font-family:"sub-title";

		background-color:rgba(0,0,0,0.5);
		text-shadow: 4px 4px 0px rgba(34, 34, 34, 1);
		color:@white;

		& .svg-logo {
			position: absolute;
			height: 125%;
			left: -35px;
			top: -10px;
		}

		& h3 {
			text-align:right;
			position: absolute;
			left: 30px;
			top: -5px;
			font-size: 30px;
		}

		& h4 {
			position: absolute;
			font-family: "title";
			font-size: 4em;
			margin: 0px;
			margin-top: 33px;
			left: 225px;
			color:@tan;
		}

		& .value {
			
		}
	}
}

.seller-client-wrap {
	.valueWrap {
		position: absolute;
		width: 325px;
		height: 145px;
		left: 40px;
		top: 600px;
		overflow:hidden;

		text-align:center;
		font-size:20px;
		font-family:"sub-title";

		background-color:rgba(0,0,0,0.5);
		text-shadow: 4px 4px 0px rgba(34, 34, 34, 1);
		color:@white;

		& .svg-logo {
			position: absolute;
			height: 70%;
			left: 22px;
			top: 53px;
		}

		& h3 {
			text-align:right;
			position: absolute;
			left: 20px;
			top: -5px;
			font-size: 30px;
		}

		& h4 {
			position: absolute;
			font-family: "title";
			font-size: 4em;
			margin: 0px;
			margin-top: 33px;
			left: 225px;
			color:@lightgreen;
		}

		& .value {

		}
	}
}





